@font-face {
    font-family: 'IRANSansXMedium';
    src: url('../fonts/iransansx/IRANSansXMedium.ttf') format('truetype');
 }
 @font-face {
    font-family: 'iranyekan';
    src: url('../fonts/iranYekan/iranyekanwebregularfanum.woff') format('truetype');
 }
 @font-face {
    font-family: 'IRANSansXRegular';
    src: url('../fonts/iransansx/IRANSansXRegular.ttf') format('truetype');
 }

 .containerfluid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    padding: 0;
  
 }
 .containerfluidDark{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    padding: 0;
    background-color: rgba(32, 32, 32, 1);
 }
 .cardStyle {
   width: 100%;
   max-width: 1420px;
   display: flex;
   flex-direction: row;
    direction: rtl;
    border: none;
    margin: 30px auto;
    padding: 10px;
    background-color: white; 
 }
 .cardStyleDark {
   width: 100%;
   max-width: 1420px;
   display: flex;
   flex-direction: row;
   direction: rtl;
   border: none;
   margin: 30px auto;
   padding: 10px;
   background-color: rgba(32, 32, 32, 1);
   color: white;
 }
 @media (max-width : 430px) {
   .cardStyle{
      display: flex;
      flex-direction: column;
   }
   .cardStyleDark{
      display: flex;
      flex-direction: column;
      background-color: rgba(32, 32, 32, 1);
      color: white;
   }
 }

 .sec1CardStyle{
   display: flex;
   flex-direction: row;
 
 }
 .sec2CardStyle{
   direction: ltr;
   display: flex;
   width: 100%;
 }



