@font-face {
    font-family: 'IRANSansXMedium';
    src: url('../fonts/iransansx/IRANSansXMedium.ttf') format('truetype');
}

.cardsection {
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    width: 100%;
    gap: 20px;
    margin: 0 auto;
}
.cardsection.dark {
    background-color: rgba(32, 32, 32, 1);
}
.headercardsection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1360px;
    height: 40px;
    gap: 20px;
    margin: 0 auto;
    
}
.headercardsection .button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'IRANSansXMedium';
    width: 87px;
    height: 40px;
    border: none;
    border-radius: 32px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(237, 237, 237, 1);
    color: black;
}
.headercardsection .button.dark {
    background-color: rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 1);
}
.headercardsection h4 {
    font-family: 'IRANSansXMedium';
    width: 177px;
    height: 36px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: rgba(32, 32, 32, 1);
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
}
.headercardsection h4.dark {
    color: rgba(255, 255, 255, 1);
}