.Slidersec{
  width: 100%;
  background-color: white;
}
.Slidersec.dark{
   background-color: rgba(32, 32, 32, 1);
}
.Slider{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    max-height: 300px;
    margin: 0 auto;
    display: flex;
    gap: 20px; 
  
} 
.carousel-indicators [data-bs-target] {
    width: 6px;
    height: 6px;
    border: none;
    border-radius: 32px;
    background-color: rgba(32, 32, 32, 0.24);
  } 
  .carousel-indicators .active {
    background-color: rgba(255, 255, 255, 1);
    width: 20px; 
    height: 8px;
  } 
  .carousel-control-prev, .carousel-control-next {
    color: black !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 32px !important;
    position: relative !important;
    display: inline-block !important;
    background-color: rgba(255, 255, 255, 1) !important;
    border: none !important;
    outline: none !important;
    transition: all 0.3s ease !important;
    opacity: 0.5 !important;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    color: black !important;
    background-color: rgba(255, 255, 255, 1) !important;
    transform: none !important;
    box-shadow: none !important;
    opacity: 1 !important;
}

.carousel-control-prev:focus, 
.carousel-control-next:focus {
  opacity: 0.5 !important;
}

.carousel-control-prev:focus:hover,
.carousel-control-next:focus:hover {
    opacity: 1 !important;
}

  .carousel-inner {
    width: 100%;
    max-width: 1440px;
  }
  .carousel-item:hover{
    filter:brightness(80%);
  }
  .custom-controls {
    display: flex;
    gap: 12px;
    position: absolute;
    left: 2.78%; 
    top: 81.33%;
}

